<div class="container">
    <div 
        class="io drop"
        dropHere="io"
        (dropComplete)="receivedDrop($event)"
    >
    </div>
    <ng-content></ng-content>
    <div 
        class="io drag"
    >
        {{(to$ | async)?.at(0) }} {{(to$ | async)?.at(1) }} 
        <app-arrow-svg 
            class="arrow-output"
            [from]="(from$ | async) ?? undefined"
            [to]="(to$ | async) ?? undefined"
        />
        <div  
            dragMe="io"
            [dragData]="dragDropData() ?? {}"
            class="cicle"
        ></div>
    </div>
</div>