.container {
    display: flex;
}

.io {
    width: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.drop {
    background-color: aqua;
}

.cicle {
    height: 12px;
    width: 12px;
    border-radius: 100%;
    background-color: darkblue;
    z-index: 1;
}

.arrow-output {
    position: absolute;
    z-index: -1;
}